{
  "appName":"stockr (dev)",
  "usersDbFile":"db/users.db",
  "partsDbFile":"db/parts.db",
  "casesDbFile":"db/cases.db",
  "sessionSecret":"yoyo!",
  "viewsDir":"./views",
  "staticDir":"public",
  "addr":"127.0.0.1",
  "port":443,
  "keyFile":"tls/stockr-key.pem",
  "certFile":"tls/stockr.crt",
  "smtpServer":"mail.epnetworking.com",
  "smtpPort":"366",
  "smtpSecurity":false,
  "smtpFromName":"stockr",
  "smtpFromAddr":"stockr@dataimpressions.com"
}
