extends index.pug

block content
  .layout-col
    .section-hdg.section-hdg-1 Add Part
    .part-listing.layout-col
      form(action="/part/add" method="post")
        .partmake.itemdetail.layout-row
          .label Manufacturer: 
          .data
            input(id="make" type="text" name="make" placeholder="manufacturer")
        .partnum.itemdetail.layout-row
          .label Part Num: 
          .data
            input(id="partnum" type="text" name="partnum" placeholder="part number" required)
        .partdescription.itemdetail.layout-row
          .label Description: 
          .data
            input(id="description" type="text" name="description" placeholder="description" required)
        .partcount.itemdetail.layout-row
          .label Stock Level: 
          .data
            input(id="count" type="number" name="count" placeholder="desired amount of parts" required)
        .partsubmit.itemdetail.layout-row
          .label Actions:
          .data
            input.btn.btn-normal.buttonconfirm(type="submit" id="submit" value="Confirm")
            a.btn.btn-cancel.buttoncancel(href="/parts/") Cancel

