extends index.pug

block content
  .layout-col
    .section-hdg.section-hdg-1 Add User
    .user-listing.layout-col
      form(action="/user" method="post")
        .username.itemdetail.layout-col
          label.label(for="username") User Name: 
          .data
            input(id="username" type="text" name="username" placeholder="user name" required)
        .email.itemdetail.layout-col
          label.label(for="email") User's Email Address': 
          .data
            input(id="email" type="text" name="email" placeholder="email address" required)
        .userpassword.itemdetail.layout-col
          label.label(for="password") Password: 
          .data
            input(id="password" type="password" name="password" placeholder="password" required)
        .userpasswordverify.itemdetail.layout-col
          label.label(for="passwordv") Verification: 
          .data
            input(id="passwordv" type="password" name="passwordv" placeholder="password" required)
        .usersubmit.itemdetail.layout-col
          .label Actions:
          .data
            input.btn.normal.buttonconfirm(type="submit" id="submit" value="Confirm")
            a.btn.cancel.buttoncancel(href="/users/") Cancel
