extends index.pug

block content
  .section-hdg.section-hdg-1 Cases (#{cases.length})
  ul.itemlist
    each item in cases
      - let targetLoc = "/case/" + item;
      li.layout-col(onclick="goTo('" + targetLoc + "')")
        .itemdetail.layout-col
          .label Case #:
          .datal #{item}