extends index.pug

block content
  .layout-col
    .section-hdg.section-hdg-1 Edit User
    .layout-row.layout-width-1-1
      .user-listing.layout-col.layout-width-1-1.layout-sd-width-5-8.layout-lg-width-5-8.layout-xl-width-4-8
        form(action="/user/edit" method="post")
          input(id="userid" type="hidden" name="userid" value=user.id)
          .itemdetail.layout-col
            label.label(for="partnum") Username: 
            .data #{user.username}
          .itemdetail.layout-col
            label.label(for="email") Email: 
            .data
              input#email(type="text" name="email" placeholder="email address" value=user.email required)
          .itemdetail.layout-col
            label.label(for="id") System User Num: 
            .data #{user.id}
          .itemdetail.layout-col
            label.label Actions:
            .data.layout-row
              input.btn.primary.buttonconfirm(type="submit" id="submit" value="Confirm")
              a.btn.cancel(href="/user/" + user.id) Cancel              
      .description.layout-col.layout-xs-hidden.layout-sm-hidden.layout-md-hidden.layout-sd-width-3-8.layout-lg-width-3-8.layout-xl-width-4-8
        .infotext.section-hdg.section-hdg-3 Edit User View
        .infotext You can edit a user with this view.
        .infotext Modify the details for the user.
        .infotext.section-hdg.section-hdg-3 Email
        .infotext Enter the user's email address here. This should be a valid email address
        .infotext.example.layout-col 
          .infotext.heading Examples:
          .infotext tommy@test.com
        .infotext.important This is a required field.
