footer.layout-row.layout-width-1-1.layout-align-center
  .layout-col
    .copyright 2017 Travis Colbert
    .madewith Made with Laminar
  .layout-col
    div #{startTime}
  .layout-col
    div Hi #{account}!