head
  title= title
  meta(name="viewport" content="width=device-width,initial-scale=1")
  link(rel="stylesheet" media="all" href="/css/normalize.css")
  link(rel="stylesheet" media="all" href="/css/laminar-base.css")
  link(rel="stylesheet" media="all" href="/css/laminar-navigation.css")
  link(rel="stylesheet" media="all" href="/css/stockman.css")