head
  title= title
  meta(name="viewport" content="width=device-width,initial-scale=1")
  link(rel="stylesheet" media="all" href="https://fonts.googleapis.com/icon?family=Material+Icons")
  link(rel="stylesheet" media="all" href="https://fonts.googleapis.com/css?family=Inconsolata")
  link(rel="stylesheet" media="all" href="https://fonts.googleapis.com/css?family=Nunito")
  link(rel="stylesheet" media="all" href="https://fonts.googleapis.com/css?family=Cutive+Mono")
  link(rel="stylesheet" media="all" href="/css/normalize.css")
  link(rel="stylesheet" media="all" href="/css/laminar-base.css")
  link(rel="stylesheet" media="all" href="/css/laminar-navigation.css")
  link(rel="stylesheet" media="all" href="/css/stockman.css")
  link(rel="stylesheet" media="print" href="/css/stockman-print.css")
  link(rel="stylesheet" media="screen" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css")
  script(src="https://cdn.jsdelivr.net/npm/flatpickr")