extends index.pug

block content
  #main.layout-col.layout-align-center
    form(action="/login" method="post")
      input#secretsauce(type="hidden" name="secretsauce" value=secretSauce)
      #prompt Log In
      div
        input#username(type="text" name="username" placeholder="Username")
      div
        input#password(type="password" name="password" placeholder="Passphrase")
      div
        input#submit(type="submit" value="Login")
        input#testpw(type="button" value="Test" onclick="authTest()")

block scripts
  script(src='/js/bcrypt.min.js')
