extends index.pug

block content
  #main.layout-col.layout-align-center
    form#login-form(action="/login" method="post")
      input#secretsauce(type="hidden" name="secretsauce" value=secretSauce)
      .section-hdg.section-hdg-1 Log In
      div
        input#username(type="text" name="username" placeholder="Username")
      div
        input#password(type="password" name="password" placeholder="Passphrase")
      div.layout-row.layout-justify-between
        input#submit.btn.btn-normal.layout-width-1-1(type="submit" value="Login")
        //- input#logincancel.btn.btn-cancel(type="button" value="Cancel")

block scripts
  script(src='/js/bcrypt.min.js')
