header.layout-row.layout-width-1-1
  nav#topmenu.nav.layout-xs-col.layout-width-1-1.layout-sm-justify-end.boxshadow(role=navigation)
    #menu-title.layout-row.layout-justify-between
      div#app-title
        a(href="/")= title
      label#menu-hamburger.layout-justify-end(for="show-menu") &#9776;
    input#show-menu(type="checkbox" role="button")
    ul.layout-xs-hidden.layout-xs-col.layout-row.layout-sm-size-x2.layout-size-x1.layout-justify-around
      - let m = menu;
      each item in m
        - var link = item.link;
        - var text = item.text;
        li
          a(href=link) #{text}
