extends index.pug

block content
  //- - let u = users;
  ul.itemlist
    each item in users
      - var id = item.id;
      - var username = item.username;
      - let targetLoc = "/user/" + item.id;
      li.layout-col(onclick="goTo('" + targetLoc + "')")
        .itemdetail
          .label User:
          .data #{username}
  .adduser.layout-row.layout-justify-between
    a.btn.btn-normal(href="/users/add") Add User