doctype html
html
  include head.pug
  body.header-static.footer-static
    include navigation.pug
    - let u = users;
    .content.layout-height-1-1.layout-width-1-1
      ol
        each item in u
          - var id = item.id;
          - var username = item.username;
          li
            a(href="/user/" + id) #{username}

  include foot.pug