extends index.pug

block content
  .section-hdg.section-hdg-1 User Detail
  .user-listing.layout-col
    if user
      .itemdetail
        .label Username:
        .data #{user.username}
      .itemdetail
        .label User Num:
        .data #{user.id}