extends index.pug

block content
  .section-hdg.section-hdg-1 Users (#{users.length})
  ul.itemlist
    each item in users
      - let targetLoc = "/user/" + item.id;
      li.layout-col(onclick="goTo('" + targetLoc + "')")
        .itemdetail.layout-col
          .label User:
          .data #{item.username}
  .adduser.layout-row.layout-justify-between
    a.btn.normal(href="/users/add")
      i.material-icons add_circle_outline
      span Add User