/**
 * Eye-candy (shadows)
 */
.textshadow {
  text-shadow: 0px 2px 3px rgba(61, 59, 48, 0.25);
}
.boxshadow {
  box-shadow: 0px 2px 6px rgba(61, 59, 48, 0.25);
}
/**
 * Transitions
 */
.transition-all {
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}
/**
 * Z-Levels
 */
.layout-z-top,
.layout-z-100 {
  z-index: 100;
}
.layout-z-75 {
  z-index: 75;
}
.layout-z-center,
.layout-z-50 {
  z-index: 50;
}
.layout-z-25 {
  z-index: 25;
}
.layout-z-bottom,
.layout-z-0 {
  z-index: 0;
}
html,
body {
  min-height: 100%;
  width: 100%;
  display: flex;
  color: #3d3b30;
  background-color: #fcfcfc;
  box-sizing: border-box;
  margin: 0;
}
header,
nav,
section,
sidebar,
aside,
footer {
  box-sizing: border-box;
  display: flex;
  flex: 0;
}
div {
  box-sizing: border-box;
  display: flex;
}
/**
 * BODY Layouts
 */
body.header-static {
  display: flex;
  box-sizing: border-box;
  flex-direction: column;
}
body.header-static header {
  position: fixed;
  top: 0;
  min-height: 48px;
  z-index: 75;
}
body.header-static sidebar,
body.header-static #main {
  padding-top: 48px;
}
body.bigbanner-static {
  display: flex;
  box-sizing: border-box;
  flex-direction: column;
}
body.bigbanner-static header {
  position: fixed;
  top: 0;
  min-height: 200px;
  z-index: 75;
}
body.bigbanner-static sidebar,
body.bigbanner-static #main {
  /* padding-top: @bhheight; */
}
body.footer-static {
  display: flex;
  box-sizing: border-box;
  flex-direction: column;
}
body.footer-static footer {
  position: fixed;
  bottom: 0;
  min-height: 48px;
  z-index: 75;
}
body.footer-static sidebar,
body.footer-static #main {
  padding-bottom: 48px;
}
body.sidebar-static sidebar {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  overflow: scroll;
}
body.main-static #main {
  position: fixed;
  top: 0;
  height: 100%;
}
body.main-centered {
  display: flex;
  box-sizing: border-box;
  flex-direction: column;
  /* .full-height; */
  justify-content: center;
  align-items: center;
}
body.main-centered #main {
  /* flex: 0; */
}
header,
footer {
  align-items: baseline;
}
.nav {
  display: flex;
  box-sizing: border-box;
  flex-direction: row;
  flex: 1;
}
ol.nav,
ul.nav {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.badge {
  font-size: 0.8em;
  vertical-align: super;
  /* font-weight: lighter; */
  margin-left: -2px;
  margin-right: -2px;
}
.responsive {
  height: auto;
  width: 100%;
}
img.border-circle {
  border-radius: 50%;
}
.layout-col,
.layout-row,
.layout-col-reverse,
.layout-row-reverse,
.layout-xs-col,
.layout-sm-col,
.layout-md-col,
.layout-lg-col,
.layout-xl-col,
.layout-xs-row,
.layout-sm-row,
.layout-md-row,
.layout-lg-row,
.layout-xl-row {
  display: flex;
  box-sizing: border-box;
}
.layout-col {
  flex-direction: column;
}
.layout-row {
  flex-direction: row;
}
.layout-col-reverse {
  flex-direction: column-reverse;
}
.layout-row-reverse {
  flex-direction: row-reverse;
}
.layout-hidden,
.hidden {
  display: none;
}
.full-height {
  height: 100%;
}
.layout-height-1-1,
.layout-height-2-2,
.layout-height-3-3,
.layout-height-4-4,
.layout-height-5-5,
.layout-height-6-6,
.layout-height-7-7,
.layout-height-8-8 {
  height: 100%;
}
.layout-height-7-8 {
  height: 87.5%;
}
.layout-height-5-6 {
  height: 82.5%;
}
.layout-height-4-5 {
  height: 80%;
}
.layout-height-3-4,
.layout-height-6-8 {
  height: 75%;
}
.layout-height-2-3,
.layout-height-4-6 {
  height: 66.6%;
}
.layout-height-5-8 {
  height: 62.5%;
}
.layout-height-3-5 {
  height: 60%;
}
.layout-height-1-2,
.layout-height-2-4,
.layout-height-3-6,
.layout-height-4-8 {
  height: 50%;
}
.layout-height-2-5 {
  height: 40%;
}
.layout-height-3-8 {
  height: 37.5%;
}
.layout-height-1-3,
.layout-height-2-6 {
  height: 33.3%;
}
.layout-height-1-4,
.layout-height-2-8 {
  height: 25%;
}
.layout-height-1-5 {
  height: 20%;
}
.layout-height-1-6 {
  height: 16.5%;
}
.layout-height-1-8 {
  height: 12.5%;
}
.layout-width-xs {
  width: 425px;
}
.layout-width-sm {
  width: 425px;
}
.layout-width-md {
  width: 768px;
}
.layout-width-sd {
  width: 960px;
}
.layout-width-lg {
  width: 1024px;
}
.layout-width-xl {
  width: 1280px;
}
.layout-width-1-12 {
  width: 8.3%;
}
.layout-width-1-10 {
  width: 10%;
}
.layout-width-1-8 {
  width: 12.5%;
}
.layout-width-1-6,
.layout-width-2-12 {
  width: 16.5%;
}
.layout-width-1-5,
.layout-width-2-10 {
  width: 20%;
}
.layout-width-1-4,
.layout-width-2-8,
.layout-width-3-12 {
  width: 25%;
}
.layout-width-3-10 {
  width: 30%;
}
.layout-width-1-3,
.layout-width-2-6,
.layout-width-4-12 {
  width: 33.3%;
}
.layout-width-3-8 {
  width: 37.5%;
}
.layout-width-2-5,
.layout-width-4-10 {
  width: 40%;
}
.layout-width-5-12 {
  width: 41.16%;
}
.layout-width-1-2,
.layout-width-2-4,
.layout-width-3-6,
.layout-width-4-8,
.layout-width-5-10,
.layout-width-6-12 {
  width: 50%;
}
.layout-width-7-12 {
  width: 58.33%;
}
.layout-width-3-5,
.layout-width-6-10 {
  width: 60%;
}
.layout-width-5-8 {
  width: 62.5%;
}
.layout-width-2-3,
.layout-width-4-6,
.layout-width-8-12 {
  width: 66.6%;
}
.layout-width-7-10 {
  width: 70%;
}
.layout-width-3-4,
.layout-width-6-8,
.layout-width-9-12 {
  width: 75%;
}
.layout-width-4-5,
.layout-width-8-10 {
  width: 80%;
}
.layout-width-5-6,
.layout-width-10-12 {
  width: 82.5%;
}
.layout-width-7-8 {
  width: 87.5%;
}
.layout-width-9-10 {
  width: 90%;
}
.layout-width-11-12 {
  width: 91.16%;
}
.layout-width-1-1,
.layout-width-2-2,
.layout-width-3-3,
.layout-width-4-4,
.layout-width-6-6,
.layout-width-8-8,
.layout-width-10-10,
.layout-width-12-12 {
  width: 100%;
}
/**
 * Control the order of element
 */
.layout-order-1 {
  order: 1;
}
.layout-order-2 {
  order: 2;
}
.layout-order-3 {
  order: 3;
}
.layout-order-4 {
  order: 4;
}
.layout-order-5 {
  order: 5;
}
.layout-order-6 {
  order: 6;
}
/**
 * Multiply width of this element by X
 */
.layout-size-x0 {
  flex: 0;
}
.layout-size-x1 {
  flex: 1;
}
.layout-size-x2 {
  flex: 2;
}
.layout-size-x3 {
  flex: 3;
}
.layout-size-x4 {
  flex: 4;
}
.layout-size-x5 {
  flex: 5;
}
.layout-size-x6 {
  flex: 6;
}
/**
 * Alignment and Justifying
 */
.layout-justify-start {
  justify-content: flex-start;
}
.layout-justify-end {
  justify-content: flex-end;
}
.layout-justify-center {
  justify-content: center;
}
.layout-justify-between {
  justify-content: space-between;
}
.layout-justify-around {
  justify-content: space-around;
}
.layout-align-start {
  align-items: flex-start;
}
.layout-align-end {
  align-items: flex-end;
}
.layout-align-center {
  align-items: center;
}
.layout-align-stretch {
  align-items: stretch;
}
.layout-align-baseline {
  align-items: baseline;
}
/**
 * Quick wrap class
 */
.layout-wrap {
  flex-wrap: wrap;
}
.layout-wrap-reverse {
  flex-wrap: wrap-reverse;
}
/**
 * TEXT formatting
 */
.text-align-left {
  text-align: left;
}
.text-align-right {
  text-align: right;
}
.text-align-center {
  text-align: center;
}
.text-align-justify {
  text-align: justify;
}
.text-grow-x1 {
  font-size: 1.1em;
}
.text-grow-x2 {
  font-size: 1.5em;
}
.text-grow-x3 {
  font-size: 2em;
}
.text-shrink-x1 {
  font-size: 0.9em;
}
.text-shrink-x2 {
  font-size: 0.75em;
}
.text-shrink-x3 {
  font-size: 0.5em;
}
.nobreak,
.text-nobreak {
  white-space: nowrap;
}
@media only screen and (max-width: 424px) {
  body {
    font-size: 0.8em;
  }
  .layout-xs-col {
    flex-direction: column;
  }
  .layout-xs-row {
    flex-direction: row;
  }
  .layout-xs-col-reverse {
    flex-direction: column;
  }
  .layout-xs-row-reverse {
    flex-direction: row;
  }
  .layout-xs-hidden {
    display: none;
  }
  .layout-xs-order-1 {
    order: 1;
  }
  .layout-xs-order-2 {
    order: 2;
  }
  .layout-xs-order-3 {
    order: 3;
  }
  .layout-xs-order-4 {
    order: 4;
  }
  .layout-xs-order-5 {
    order: 5;
  }
  .layout-xs-order-6 {
    order: 6;
  }
  .layout-xs-size-x0 {
    flex: 0;
  }
  .layout-xs-size-x1 {
    flex: 1;
  }
  .layout-xs-size-x2 {
    flex: 2;
  }
  .layout-xs-size-x3 {
    flex: 3;
  }
  .layout-xs-size-x4 {
    flex: 4;
  }
  .layout-xs-size-x5 {
    flex: 5;
  }
  .layout-xs-size-x6 {
    flex: 6;
  }
  .layout-xs-width-1-8 {
    width: 12.5%;
  }
  .layout-xs-width-1-6 {
    width: 16.5%;
  }
  .layout-xs-width-1-5 {
    width: 20%;
  }
  .layout-xs-width-1-4,
  .layout-xs-width-2-8 {
    width: 25%;
  }
  .layout-xs-width-1-3,
  .layout-xs-width-2-6 {
    width: 33.3%;
  }
  .layout-xs-width-3-8 {
    width: 37.5%;
  }
  .layout-xs-width-2-5 {
    width: 40%;
  }
  .layout-xs-width-1-2,
  .layout-xs-width-2-4,
  .layout-xs-width-3-6,
  .layout-xs-width-4-8 {
    width: 50%;
  }
  .layout-xs-width-3-5 {
    width: 60%;
  }
  .layout-xs-width-5-8 {
    width: 62.5%;
  }
  .layout-xs-width-2-3,
  .layout-xs-width-4-6 {
    width: 66.6%;
  }
  .layout-xs-width-3-4,
  .layout-xs-width-6-8 {
    width: 75%;
  }
  .layout-xs-width-4-5 {
    width: 80%;
  }
  .layout-xs-width-5-6 {
    width: 82.5%;
  }
  .layout-xs-width-7-8 {
    width: 87.5%;
  }
  .layout-width-sd,
  .layout-xs-width-1-1,
  .layout-xs-width-2-2,
  .layout-xs-width-3-3,
  .layout-xs-width-4-4,
  .layout-xs-width-6-6,
  .layout-xs-width-8-8 {
    width: 100%;
  }
  .layout-xs-height-1-1,
  .layout-xs-height-2-2,
  .layout-xs-height-3-3,
  .layout-xs-height-4-4,
  .layout-xs-height-5-5,
  .layout-xs-height-6-6,
  .layout-xs-height-8-8 {
    height: 100%;
  }
  .layout-xs-height-7-8 {
    height: 87.5%;
  }
  .layout-xs-height-5-6 {
    height: 82.5%;
  }
  .layout-xs-height-4-5 {
    height: 80%;
  }
  .layout-xs-height-3-4,
  .layout-xs-height-6-8 {
    height: 75%;
  }
  .layout-xs-height-2-3,
  .layout-xs-height-4-6 {
    height: 66.6%;
  }
  .layout-xs-height-5-8 {
    height: 62.5%;
  }
  .layout-xs-height-3-5 {
    height: 60%;
  }
  .layout-xs-height-1-2,
  .layout-xs-height-2-4,
  .layout-xs-height-3-6,
  .layout-xs-height-4-8 {
    height: 50%;
  }
  .layout-xs-height-2-5 {
    height: 40%;
  }
  .layout-xs-height-3-8 {
    height: 37.5%;
  }
  .layout-xs-height-1-3,
  .layout-xs-height-2-6 {
    height: 33.3%;
  }
  .layout-xs-height-1-4,
  .layout-xs-height-2-8 {
    height: 25%;
  }
  .layout-xs-height-1-5 {
    height: 20%;
  }
  .layout-xs-height-1-6 {
    height: 16.5%;
  }
  .layout-xs-height-1-8 {
    height: 12.5%;
  }
  .layout-xs-justify-start {
    justify-content: flex-start;
  }
  .layout-xs-justify-end {
    justify-content: flex-end;
  }
  .layout-xs-justify-center {
    justify-content: center;
  }
  .layout-xs-justify-between {
    justify-content: space-between;
  }
  .layout-xs-justify-around {
    justify-content: space-around;
  }
  .layout-xs-align-start {
    align-items: flex-start;
  }
  .layout-xs-align-end {
    align-items: flex-end;
  }
  .layout-xs-align-center {
    align-items: center;
  }
  .layout-xs-align-stretch {
    align-items: stretch;
  }
  .layout-xs-align-baseline {
    align-items: baseline;
  }
  .text-xs-align-left {
    text-align: left;
  }
  .text-xs-align-right {
    text-align: right;
  }
  .text-xs-align-center {
    text-align: center;
  }
  .text-xs-align-justify {
    text-align: justify;
  }
  .text-xs-grow-x1 {
    font-size: 1.1em;
  }
  .text-xs-grow-x2 {
    font-size: 1.5em;
  }
  .text-xs-grow-x3 {
    font-size: 2em;
  }
  .text-xs-shrink-x1 {
    font-size: 0.9em;
  }
  .text-xs-shrink-x2 {
    font-size: 0.75em;
  }
  .text-xs-shrink-x3 {
    font-size: 0.5em;
  }
}
@media only screen and (min-width: 425px) and (max-width: 767px) {
  body {
    font-size: 0.9em;
  }
  .layout-sm-col {
    flex-direction: column;
  }
  .layout-sm-row {
    flex-direction: row;
  }
  .layout-sm-hidden {
    display: none;
  }
  .layout-sm-order-1 {
    order: 1;
  }
  .layout-sm-order-2 {
    order: 2;
  }
  .layout-sm-order-3 {
    order: 3;
  }
  .layout-sm-order-4 {
    order: 4;
  }
  .layout-sm-order-5 {
    order: 5;
  }
  .layout-sm-order-6 {
    order: 6;
  }
  .layout-sm-size-x0 {
    flex: 0;
  }
  .layout-sm-size-x1 {
    flex: 1;
  }
  .layout-sm-size-x2 {
    flex: 2;
  }
  .layout-sm-size-x3 {
    flex: 3;
  }
  .layout-sm-size-x4 {
    flex: 4;
  }
  .layout-sm-size-x5 {
    flex: 5;
  }
  .layout-sm-size-x6 {
    flex: 6;
  }
  .layout-width-sd,
  .layout-sm-width-sd,
  .layout-width-static {
    width: 425px;
  }
  .layout-sm-width-1-12 {
    width: 8.3%;
  }
  .layout-sm-width-1-10 {
    width: 10%;
  }
  .layout-sm-width-1-8 {
    width: 12.5%;
  }
  .layout-sm-width-1-6,
  .layout-sm-width-2-12 {
    width: 16.5%;
  }
  .layout-sm-width-1-5,
  .layout-sm-width-2-10 {
    width: 20%;
  }
  .layout-sm-width-1-4,
  .layout-sm-width-2-8,
  .layout-sm-width-3-12 {
    width: 25%;
  }
  .layout-sm-width-3-10 {
    width: 30%;
  }
  .layout-sm-width-1-3,
  .layout-sm-width-2-6,
  .layout-sm-width-4-12 {
    width: 33.3%;
  }
  .layout-sm-width-3-8 {
    width: 37.5%;
  }
  .layout-sm-width-2-5,
  .layout-sm-width-4-10 {
    width: 40%;
  }
  .layout-sm-width-5-12 {
    width: 41.16%;
  }
  .layout-sm-width-1-2,
  .layout-sm-width-2-4,
  .layout-sm-width-3-6,
  .layout-sm-width-4-8,
  .layout-sm-width-5-10,
  .layout-sm-width-6-12 {
    width: 50%;
  }
  .layout-sm-width-7-12 {
    width: 58.33%;
  }
  .layout-sm-width-3-5,
  .layout-sm-width-6-10 {
    width: 60%;
  }
  .layout-sm-width-5-8 {
    width: 62.5%;
  }
  .layout-sm-width-2-3,
  .layout-sm-width-4-6,
  .layout-sm-width-8-12 {
    width: 66.6%;
  }
  .layout-sm-width-7-10 {
    width: 70%;
  }
  .layout-sm-width-3-4,
  .layout-sm-width-6-8,
  .layout-sm-width-9-12 {
    width: 75%;
  }
  .layout-sm-width-4-5,
  .layout-sm-width-8-10 {
    width: 80%;
  }
  .layout-sm-width-5-6,
  .layout-sm-width-10-12 {
    width: 82.5%;
  }
  .layout-sm-width-7-8 {
    width: 87.5%;
  }
  .layout-sm-width-9-10 {
    width: 90%;
  }
  .layout-sm-width-11-12 {
    width: 91.16%;
  }
  .layout-sm-width-1-1,
  .layout-sm-width-2-2,
  .layout-sm-width-3-3,
  .layout-sm-width-4-4,
  .layout-sm-width-6-6,
  .layout-sm-width-8-8,
  .layout-sm-width-10-10,
  .layout-sm-width-12-12 {
    width: 100%;
  }
  .layout-sm-height-1-1,
  .layout-sm-height-2-2,
  .layout-sm-height-3-3,
  .layout-sm-height-4-4,
  .layout-sm-height-5-5,
  .layout-sm-height-6-6,
  .layout-sm-height-8-8 {
    height: 100%;
  }
  .layout-sm-height-7-8 {
    height: 87.5%;
  }
  .layout-sm-height-5-6 {
    height: 82.5%;
  }
  .layout-sm-height-4-5 {
    height: 80%;
  }
  .layout-sm-height-3-4,
  .layout-sm-height-6-8 {
    height: 75%;
  }
  .layout-sm-height-2-3,
  .layout-sm-height-4-6 {
    height: 66.6%;
  }
  .layout-sm-height-5-8 {
    height: 62.5%;
  }
  .layout-sm-height-3-5 {
    height: 60%;
  }
  .layout-sm-height-1-2,
  .layout-sm-height-2-4,
  .layout-sm-height-3-6,
  .layout-sm-height-4-8 {
    height: 50%;
  }
  .layout-sm-height-2-5 {
    height: 40%;
  }
  .layout-sm-height-3-8 {
    height: 37.5%;
  }
  .layout-sm-height-1-3,
  .layout-sm-height-2-6 {
    height: 33.3%;
  }
  .layout-sm-height-1-4,
  .layout-sm-height-2-8 {
    height: 25%;
  }
  .layout-sm-height-1-5 {
    height: 20%;
  }
  .layout-sm-height-1-6 {
    height: 16.5%;
  }
  .layout-sm-height-1-8 {
    height: 12.5%;
  }
  .layout-sm-justify-start {
    justify-content: flex-start;
  }
  .layout-sm-justify-end {
    justify-content: flex-end;
  }
  .layout-sm-justify-center {
    justify-content: center;
  }
  .layout-sm-justify-between {
    justify-content: space-between;
  }
  .layout-sm-justify-around {
    justify-content: space-around;
  }
  .layout-sm-align-start {
    align-items: flex-start;
  }
  .layout-sm-align-end {
    align-items: flex-end;
  }
  .layout-sm-align-center {
    align-items: center;
  }
  .layout-sm-align-stretch {
    align-items: stretch;
  }
  .layout-sm-align-baseline {
    align-items: baseline;
  }
  .text-sm-align-left {
    text-align: left;
  }
  .text-sm-align-right {
    text-align: right;
  }
  .text-sm-align-center {
    text-align: center;
  }
  .text-sm-align-justify {
    text-align: justify;
  }
  .text-sm-grow-x1 {
    font-size: 1.1em;
  }
  .text-sm-grow-x2 {
    font-size: 1.5em;
  }
  .text-sm-grow-x3 {
    font-size: 2em;
  }
  .text-sm-shrink-x1 {
    font-size: 0.9em;
  }
  .text-sm-shrink-x2 {
    font-size: 0.75em;
  }
  .text-sm-shrink-x3 {
    font-size: 0.5em;
  }
}
@media only screen and (min-width: 768px) and (max-width: 959px) {
  .layout-md-col {
    flex-direction: column;
  }
  .layout-md-row {
    flex-direction: row;
  }
  .layout-md-hidden {
    display: none;
  }
  .layout-md-order-1 {
    order: 1;
  }
  .layout-md-order-2 {
    order: 2;
  }
  .layout-md-order-3 {
    order: 3;
  }
  .layout-md-order-4 {
    order: 4;
  }
  .layout-md-order-5 {
    order: 5;
  }
  .layout-md-order-6 {
    order: 6;
  }
  .layout-md-size-x0 {
    flex: 0;
  }
  .layout-md-size-x1 {
    flex: 1;
  }
  .layout-md-size-x2 {
    flex: 2;
  }
  .layout-md-size-x3 {
    flex: 3;
  }
  .layout-md-size-x4 {
    flex: 4;
  }
  .layout-md-size-x5 {
    flex: 5;
  }
  .layout-md-size-x6 {
    flex: 6;
  }
  .layout-md-width-xs {
    width: 425px;
  }
  .layout-width-sd,
  .layout-md-width-sm,
  .layout-width-static {
    width: 425px;
  }
  .layout-md-width-1-12 {
    width: 8.3%;
  }
  .layout-md-width-1-10 {
    width: 10%;
  }
  .layout-md-width-1-8 {
    width: 12.5%;
  }
  .layout-md-width-1-6,
  .layout-md-width-2-12 {
    width: 16.5%;
  }
  .layout-md-width-1-5,
  .layout-md-width-2-10 {
    width: 20%;
  }
  .layout-md-width-1-4,
  .layout-md-width-2-8,
  .layout-md-width-3-12 {
    width: 25%;
  }
  .layout-md-width-3-10 {
    width: 30%;
  }
  .layout-md-width-1-3,
  .layout-md-width-2-6,
  .layout-md-width-4-12 {
    width: 33.3%;
  }
  .layout-md-width-3-8 {
    width: 37.5%;
  }
  .layout-md-width-2-5,
  .layout-md-width-4-10 {
    width: 40%;
  }
  .layout-md-width-5-12 {
    width: 41.16%;
  }
  .layout-md-width-1-2,
  .layout-md-width-2-4,
  .layout-md-width-3-6,
  .layout-md-width-4-8,
  .layout-md-width-5-10,
  .layout-md-width-6-12 {
    width: 50%;
  }
  .layout-md-width-7-12 {
    width: 58.33%;
  }
  .layout-md-width-3-5,
  .layout-md-width-6-10 {
    width: 60%;
  }
  .layout-md-width-5-8 {
    width: 62.5%;
  }
  .layout-md-width-2-3,
  .layout-md-width-4-6,
  .layout-md-width-8-12 {
    width: 66.6%;
  }
  .layout-md-width-7-10 {
    width: 70%;
  }
  .layout-md-width-3-4,
  .layout-md-width-6-8,
  .layout-md-width-9-12 {
    width: 75%;
  }
  .layout-md-width-4-5,
  .layout-md-width-8-10 {
    width: 80%;
  }
  .layout-md-width-5-6,
  .layout-md-width-10-12 {
    width: 82.5%;
  }
  .layout-md-width-7-8 {
    width: 87.5%;
  }
  .layout-md-width-9-10 {
    width: 90%;
  }
  .layout-md-width-11-12 {
    width: 91.16%;
  }
  .layout-md-width-1-1,
  .layout-md-width-2-2,
  .layout-md-width-3-3,
  .layout-md-width-4-4,
  .layout-md-width-6-6,
  .layout-md-width-8-8,
  .layout-md-width-10-10,
  .layout-md-width-12-12 {
    width: 100%;
  }
  .layout-md-height-1-1,
  .layout-md-height-2-2,
  .layout-md-height-3-3,
  .layout-md-height-4-4,
  .layout-md-height-5-5,
  .layout-md-height-6-6,
  .layout-md-height-8-8 {
    height: 100%;
  }
  .layout-md-height-7-8 {
    height: 87.5%;
  }
  .layout-md-height-5-6 {
    height: 82.5%;
  }
  .layout-md-height-4-5 {
    height: 80%;
  }
  .layout-md-height-3-4,
  .layout-md-height-6-8 {
    height: 75%;
  }
  .layout-md-height-2-3,
  .layout-md-height-4-6 {
    height: 66.6%;
  }
  .layout-md-height-5-8 {
    height: 62.5%;
  }
  .layout-md-height-3-5 {
    height: 60%;
  }
  .layout-md-height-1-2,
  .layout-md-height-2-4,
  .layout-md-height-3-6,
  .layout-md-height-4-8 {
    height: 50%;
  }
  .layout-md-height-2-5 {
    height: 40%;
  }
  .layout-md-height-3-8 {
    height: 37.5%;
  }
  .layout-md-height-1-3,
  .layout-md-height-2-6 {
    height: 33.3%;
  }
  .layout-md-height-1-4,
  .layout-md-height-2-8 {
    height: 25%;
  }
  .layout-md-height-1-5 {
    height: 20%;
  }
  .layout-md-height-1-6 {
    height: 16.5%;
  }
  .layout-md-height-1-8 {
    height: 12.5%;
  }
  .layout-md-justify-start {
    justify-content: flex-start;
  }
  .layout-md-justify-end {
    justify-content: flex-end;
  }
  .layout-md-justify-center {
    justify-content: center;
  }
  .layout-md-justify-between {
    justify-content: space-between;
  }
  .layout-md-justify-around {
    justify-content: space-around;
  }
  .layout-md-align-start {
    align-items: flex-start;
  }
  .layout-md-align-end {
    align-items: flex-end;
  }
  .layout-md-align-center {
    align-items: center;
  }
  .layout-md-align-stretch {
    align-items: stretch;
  }
  .layout-md-align-baseline {
    align-items: baseline;
  }
  .text-md-align-left {
    text-align: left;
  }
  .text-md-align-right {
    text-align: right;
  }
  .text-md-align-center {
    text-align: center;
  }
  .text-md-align-justify {
    text-align: justify;
  }
  .text-md-grow-x1 {
    font-size: 1.1em;
  }
  .text-md-grow-x2 {
    font-size: 1.5em;
  }
  .text-md-grow-x3 {
    font-size: 2em;
  }
  .text-md-shrink-x1 {
    font-size: 0.9em;
  }
  .text-md-shrink-x2 {
    font-size: 0.75em;
  }
  .text-md-shrink-x3 {
    font-size: 0.5em;
  }
}
@media only screen and (min-width: 960px) and (max-width: 1023px) {
  body {
    font-size: 1.1em;
  }
  .layout-sd-col {
    flex-direction: column;
  }
  .layout-sd-row {
    flex-direction: row;
  }
  .layout-sd-hidden {
    display: none;
  }
  .layout-sd-order-1 {
    order: 1;
  }
  .layout-sd-order-2 {
    order: 2;
  }
  .layout-sd-order-3 {
    order: 3;
  }
  .layout-sd-order-4 {
    order: 4;
  }
  .layout-sd-order-5 {
    order: 5;
  }
  .layout-sd-order-6 {
    order: 6;
  }
  .layout-sd-size-x0 {
    flex: 0;
  }
  .layout-sd-size-x1 {
    flex: 1;
  }
  .layout-sd-size-x2 {
    flex: 2;
  }
  .layout-sd-size-x3 {
    flex: 3;
  }
  .layout-sd-size-x4 {
    flex: 4;
  }
  .layout-sd-size-x5 {
    flex: 5;
  }
  .layout-sd-size-x6 {
    flex: 6;
  }
  .layout-sd-width-xs {
    width: 425px;
  }
  .layout-width-sd,
  .layout-sd-width-sm,
  .layout-width-static {
    width: 768px;
  }
  .layout-sd-width-1-12 {
    width: 8.3%;
  }
  .layout-sd-width-1-10 {
    width: 10%;
  }
  .layout-sd-width-1-8 {
    width: 12.5%;
  }
  .layout-sd-width-1-6,
  .layout-sd-width-2-12 {
    width: 16.5%;
  }
  .layout-sd-width-1-5,
  .layout-sd-width-2-10 {
    width: 20%;
  }
  .layout-sd-width-1-4,
  .layout-sd-width-2-8,
  .layout-sd-width-3-12 {
    width: 25%;
  }
  .layout-sd-width-3-10 {
    width: 30%;
  }
  .layout-sd-width-1-3,
  .layout-sd-width-2-6,
  .layout-sd-width-4-12 {
    width: 33.3%;
  }
  .layout-sd-width-3-8 {
    width: 37.5%;
  }
  .layout-sd-width-2-5,
  .layout-sd-width-4-10 {
    width: 40%;
  }
  .layout-sd-width-5-12 {
    width: 41.16%;
  }
  .layout-sd-width-1-2,
  .layout-sd-width-2-4,
  .layout-sd-width-3-6,
  .layout-sd-width-4-8,
  .layout-sd-width-5-10,
  .layout-sd-width-6-12 {
    width: 50%;
  }
  .layout-sd-width-7-12 {
    width: 58.33%;
  }
  .layout-sd-width-3-5,
  .layout-sd-width-6-10 {
    width: 60%;
  }
  .layout-sd-width-5-8 {
    width: 62.5%;
  }
  .layout-sd-width-2-3,
  .layout-sd-width-4-6,
  .layout-sd-width-8-12 {
    width: 66.6%;
  }
  .layout-sd-width-7-10 {
    width: 70%;
  }
  .layout-sd-width-3-4,
  .layout-sd-width-6-8,
  .layout-sd-width-9-12 {
    width: 75%;
  }
  .layout-sd-width-4-5,
  .layout-sd-width-8-10 {
    width: 80%;
  }
  .layout-sd-width-5-6,
  .layout-sd-width-10-12 {
    width: 82.5%;
  }
  .layout-sd-width-7-8 {
    width: 87.5%;
  }
  .layout-sd-width-9-10 {
    width: 90%;
  }
  .layout-sd-width-11-12 {
    width: 91.16%;
  }
  .layout-sd-width-1-1,
  .layout-sd-width-2-2,
  .layout-sd-width-3-3,
  .layout-sd-width-4-4,
  .layout-sd-width-6-6,
  .layout-sd-width-8-8,
  .layout-sd-width-10-10,
  .layout-sd-width-12-12 {
    width: 100%;
  }
  .layout-sd-height-1-1,
  .layout-sd-height-2-2,
  .layout-sd-height-3-3,
  .layout-sd-height-4-4,
  .layout-sd-height-5-5,
  .layout-sd-height-6-6,
  .layout-sd-height-8-8 {
    height: 100%;
  }
  .layout-sd-height-7-8 {
    height: 87.5%;
  }
  .layout-sd-height-5-6 {
    height: 82.5%;
  }
  .layout-sd-height-4-5 {
    height: 80%;
  }
  .layout-sd-height-3-4,
  .layout-sd-height-6-8 {
    height: 75%;
  }
  .layout-sd-height-2-3,
  .layout-sd-height-4-6 {
    height: 66.6%;
  }
  .layout-sd-height-5-8 {
    height: 62.5%;
  }
  .layout-sd-height-3-5 {
    height: 60%;
  }
  .layout-sd-height-1-2,
  .layout-sd-height-2-4,
  .layout-sd-height-3-6,
  .layout-sd-height-4-8 {
    height: 50%;
  }
  .layout-sd-height-2-5 {
    height: 40%;
  }
  .layout-sd-height-3-8 {
    height: 37.5%;
  }
  .layout-sd-height-1-3,
  .layout-sd-height-2-6 {
    height: 33.3%;
  }
  .layout-sd-height-1-4,
  .layout-sd-height-2-8 {
    height: 25%;
  }
  .layout-sd-height-1-5 {
    height: 20%;
  }
  .layout-sd-height-1-6 {
    height: 16.5%;
  }
  .layout-sd-height-1-8 {
    height: 12.5%;
  }
  .layout-sd-justify-start {
    justify-content: flex-start;
  }
  .layout-sd-justify-end {
    justify-content: flex-end;
  }
  .layout-sd-justify-center {
    justify-content: center;
  }
  .layout-sd-justify-between {
    justify-content: space-between;
  }
  .layout-sd-justify-around {
    justify-content: space-around;
  }
  .layout-sd-align-start {
    align-items: flex-start;
  }
  .layout-sd-align-end {
    align-items: flex-end;
  }
  .layout-sd-align-center {
    align-items: center;
  }
  .layout-sd-align-stretch {
    align-items: stretch;
  }
  .layout-sd-align-baseline {
    align-items: baseline;
  }
  .text-sd-align-left {
    text-align: left;
  }
  .text-sd-align-right {
    text-align: right;
  }
  .text-sd-align-center {
    text-align: center;
  }
  .text-sd-align-justify {
    text-align: justify;
  }
  .text-sd-grow-x1 {
    font-size: 1.1em;
  }
  .text-sd-grow-x2 {
    font-size: 1.5em;
  }
  .text-sd-grow-x3 {
    font-size: 2em;
  }
  .text-sd-shrink-x1 {
    font-size: 0.9em;
  }
  .text-sd-shrink-x2 {
    font-size: 0.75em;
  }
  .text-sd-shrink-x3 {
    font-size: 0.5em;
  }
}
@media only screen and (min-width: 1024px) and (max-width: 1279px) {
  body {
    font-size: 1.2em;
  }
  .layout-lg-col {
    flex-direction: column;
  }
  .layout-lg-row {
    flex-direction: row;
  }
  .layout-lg-hidden {
    display: none;
  }
  .layout-lg-order-1 {
    order: 1;
  }
  .layout-lg-order-2 {
    order: 2;
  }
  .layout-lg-order-3 {
    order: 3;
  }
  .layout-lg-order-4 {
    order: 4;
  }
  .layout-lg-order-5 {
    order: 5;
  }
  .layout-lg-order-6 {
    order: 6;
  }
  .layout-lg-size-x0 {
    flex: 0;
  }
  .layout-lg-size-x1 {
    flex: 1;
  }
  .layout-lg-size-x2 {
    flex: 2;
  }
  .layout-lg-size-x3 {
    flex: 3;
  }
  .layout-lg-size-x4 {
    flex: 4;
  }
  .layout-lg-size-x5 {
    flex: 5;
  }
  .layout-lg-size-x6 {
    flex: 6;
  }
  .layout-lg-width-xs {
    width: 425px;
  }
  .layout-lg-width-sm {
    width: 425px;
  }
  .layout-lg-width-md {
    width: 768px;
  }
  .layout-width-sd,
  .layout-lg-width-sd,
  .layout-width-static {
    width: 960px;
  }
  .layout-lg-width-1-12 {
    width: 8.3%;
  }
  .layout-lg-width-1-10 {
    width: 10%;
  }
  .layout-lg-width-1-8 {
    width: 12.5%;
  }
  .layout-lg-width-1-6,
  .layout-lg-width-2-12 {
    width: 16.5%;
  }
  .layout-lg-width-1-5,
  .layout-lg-width-2-10 {
    width: 20%;
  }
  .layout-lg-width-1-4,
  .layout-lg-width-2-8,
  .layout-lg-width-3-12 {
    width: 25%;
  }
  .layout-lg-width-3-10 {
    width: 30%;
  }
  .layout-lg-width-1-3,
  .layout-lg-width-2-6,
  .layout-lg-width-4-12 {
    width: 33.3%;
  }
  .layout-lg-width-3-8 {
    width: 37.5%;
  }
  .layout-lg-width-2-5,
  .layout-lg-width-4-10 {
    width: 40%;
  }
  .layout-lg-width-5-12 {
    width: 41.16%;
  }
  .layout-lg-width-1-2,
  .layout-lg-width-2-4,
  .layout-lg-width-3-6,
  .layout-lg-width-4-8,
  .layout-lg-width-5-10,
  .layout-lg-width-6-12 {
    width: 50%;
  }
  .layout-lg-width-7-12 {
    width: 58.33%;
  }
  .layout-lg-width-3-5,
  .layout-lg-width-6-10 {
    width: 60%;
  }
  .layout-lg-width-5-8 {
    width: 62.5%;
  }
  .layout-lg-width-2-3,
  .layout-lg-width-4-6,
  .layout-lg-width-8-12 {
    width: 66.6%;
  }
  .layout-lg-width-7-10 {
    width: 70%;
  }
  .layout-lg-width-3-4,
  .layout-lg-width-6-8,
  .layout-lg-width-9-12 {
    width: 75%;
  }
  .layout-lg-width-4-5,
  .layout-lg-width-8-10 {
    width: 80%;
  }
  .layout-lg-width-5-6,
  .layout-lg-width-10-12 {
    width: 82.5%;
  }
  .layout-lg-width-7-8 {
    width: 87.5%;
  }
  .layout-lg-width-9-10 {
    width: 90%;
  }
  .layout-lg-width-11-12 {
    width: 91.16%;
  }
  .layout-lg-width-1-1,
  .layout-lg-width-2-2,
  .layout-lg-width-3-3,
  .layout-lg-width-4-4,
  .layout-lg-width-6-6,
  .layout-lg-width-8-8,
  .layout-lg-width-10-10,
  .layout-lg-width-12-12 {
    width: 100%;
  }
  .layout-lg-height-1-1,
  .layout-lg-height-2-2,
  .layout-lg-height-3-3,
  .layout-lg-height-4-4,
  .layout-lg-height-5-5,
  .layout-lg-height-6-6,
  .layout-lg-height-8-8 {
    height: 100%;
  }
  .layout-lg-height-7-8 {
    height: 87.5%;
  }
  .layout-lg-height-5-6 {
    height: 82.5%;
  }
  .layout-lg-height-4-5 {
    height: 80%;
  }
  .layout-lg-height-3-4,
  .layout-lg-height-6-8 {
    height: 75%;
  }
  .layout-lg-height-2-3,
  .layout-lg-height-4-6 {
    height: 66.6%;
  }
  .layout-lg-height-5-8 {
    height: 62.5%;
  }
  .layout-lg-height-3-5 {
    height: 60%;
  }
  .layout-lg-height-1-2,
  .layout-lg-height-2-4,
  .layout-lg-height-3-6,
  .layout-lg-height-4-8 {
    height: 50%;
  }
  .layout-lg-height-2-5 {
    height: 40%;
  }
  .layout-lg-height-3-8 {
    height: 37.5%;
  }
  .layout-lg-height-1-3,
  .layout-lg-height-2-6 {
    height: 33.3%;
  }
  .layout-lg-height-1-4,
  .layout-lg-height-2-8 {
    height: 25%;
  }
  .layout-lg-height-1-5 {
    height: 20%;
  }
  .layout-lg-height-1-6 {
    height: 16.5%;
  }
  .layout-lg-height-1-8 {
    height: 12.5%;
  }
  .layout-lg-justify-start {
    justify-content: flex-start;
  }
  .layout-lg-justify-end {
    justify-content: flex-end;
  }
  .layout-lg-justify-center {
    justify-content: center;
  }
  .layout-lg-justify-between {
    justify-content: space-between;
  }
  .layout-lg-justify-around {
    justify-content: space-around;
  }
  .layout-lg-align-start {
    align-items: flex-start;
  }
  .layout-lg-align-end {
    align-items: flex-end;
  }
  .layout-lg-align-center {
    align-items: center;
  }
  .layout-lg-align-stretch {
    align-items: stretch;
  }
  .layout-lg-align-baseline {
    align-items: baseline;
  }
  .text-lg-align-left {
    text-align: left;
  }
  .text-lg-align-right {
    text-align: right;
  }
  .text-lg-align-center {
    text-align: center;
  }
  .text-lg-align-justify {
    text-align: justify;
  }
  .text-lg-grow-x1 {
    font-size: 1.1em;
  }
  .text-lg-grow-x2 {
    font-size: 1.5em;
  }
  .text-lg-grow-x3 {
    font-size: 2em;
  }
  .text-lg-shrink-x1 {
    font-size: 0.9em;
  }
  .text-lg-shrink-x2 {
    font-size: 0.75em;
  }
  .text-lg-shrink-x3 {
    font-size: 0.5em;
  }
}
@media only screen and (min-width: 1280px) {
  body {
    font-size: 1.2em;
  }
  .layout-xl-col {
    flex-direction: column;
  }
  .layout-xl-row {
    flex-direction: row;
  }
  .layout-xl-hidden {
    display: none;
  }
  .layout-xl-order-1 {
    order: 1;
  }
  .layout-xl-order-2 {
    order: 2;
  }
  .layout-xl-order-3 {
    order: 3;
  }
  .layout-xl-order-4 {
    order: 4;
  }
  .layout-xl-order-5 {
    order: 5;
  }
  .layout-xl-order-6 {
    order: 6;
  }
  .layout-xl-size-x0 {
    flex: 0;
  }
  .layout-xl-size-x1 {
    flex: 1;
  }
  .layout-xl-size-x2 {
    flex: 2;
  }
  .layout-xl-size-x3 {
    flex: 3;
  }
  .layout-xl-size-x4 {
    flex: 4;
  }
  .layout-xl-size-x5 {
    flex: 5;
  }
  .layout-xl-size-x6 {
    flex: 6;
  }
  .layout-xl-width-xs {
    width: 425px;
  }
  .layout-xl-width-sm {
    width: 425px;
  }
  .layout-xl-width-md {
    width: 768px;
  }
  .layout-xl-width-sd {
    width: 1024px;
  }
  .layout-width-sd,
  .layout-xl-width-lg,
  .layout-width-static {
    width: 1024px;
  }
  .layout-xl-width-1-12 {
    width: 8.3%;
  }
  .layout-xl-width-1-10 {
    width: 10%;
  }
  .layout-xl-width-1-8 {
    width: 12.5%;
  }
  .layout-xl-width-1-6,
  .layout-xl-width-2-12 {
    width: 16.5%;
  }
  .layout-xl-width-1-5,
  .layout-xl-width-2-10 {
    width: 20%;
  }
  .layout-xl-width-1-4,
  .layout-xl-width-2-8,
  .layout-xl-width-3-12 {
    width: 25%;
  }
  .layout-xl-width-3-10 {
    width: 30%;
  }
  .layout-xl-width-1-3,
  .layout-xl-width-2-6,
  .layout-xl-width-4-12 {
    width: 33.3%;
  }
  .layout-xl-width-3-8 {
    width: 37.5%;
  }
  .layout-xl-width-2-5,
  .layout-xl-width-4-10 {
    width: 40%;
  }
  .layout-xl-width-5-12 {
    width: 41.16%;
  }
  .layout-xl-width-1-2,
  .layout-xl-width-2-4,
  .layout-xl-width-3-6,
  .layout-xl-width-4-8,
  .layout-xl-width-5-10,
  .layout-xl-width-6-12 {
    width: 50%;
  }
  .layout-xl-width-7-12 {
    width: 58.33%;
  }
  .layout-xl-width-3-5,
  .layout-xl-width-6-10 {
    width: 60%;
  }
  .layout-xl-width-5-8 {
    width: 62.5%;
  }
  .layout-xl-width-2-3,
  .layout-xl-width-4-6,
  .layout-xl-width-8-12 {
    width: 66.6%;
  }
  .layout-xl-width-7-10 {
    width: 70%;
  }
  .layout-xl-width-3-4,
  .layout-xl-width-6-8,
  .layout-xl-width-9-12 {
    width: 75%;
  }
  .layout-xl-width-4-5,
  .layout-xl-width-8-10 {
    width: 80%;
  }
  .layout-xl-width-5-6,
  .layout-xl-width-10-12 {
    width: 82.5%;
  }
  .layout-xl-width-7-8 {
    width: 87.5%;
  }
  .layout-xl-width-9-10 {
    width: 90%;
  }
  .layout-xl-width-11-12 {
    width: 91.16%;
  }
  .layout-xl-width-1-1,
  .layout-xl-width-2-2,
  .layout-xl-width-3-3,
  .layout-xl-width-4-4,
  .layout-xl-width-6-6,
  .layout-xl-width-8-8,
  .layout-xl-width-10-10,
  .layout-xl-width-12-12 {
    width: 100%;
  }
  .layout-xl-height-1-1,
  .layout-xl-height-2-2,
  .layout-xl-height-3-3,
  .layout-xl-height-4-4,
  .layout-xl-height-5-5,
  .layout-xl-height-6-6,
  .layout-xl-height-8-8 {
    height: 100%;
  }
  .layout-xl-height-7-8 {
    height: 87.5%;
  }
  .layout-xl-height-5-6 {
    height: 82.5%;
  }
  .layout-xl-height-4-5 {
    height: 80%;
  }
  .layout-xl-height-3-4,
  .layout-xl-height-6-8 {
    height: 75%;
  }
  .layout-xl-height-2-3,
  .layout-xl-height-4-6 {
    height: 66.6%;
  }
  .layout-xl-height-5-8 {
    height: 62.5%;
  }
  .layout-xl-height-3-5 {
    height: 60%;
  }
  .layout-xl-height-1-2,
  .layout-xl-height-2-4,
  .layout-xl-height-3-6,
  .layout-xl-height-4-8 {
    height: 50%;
  }
  .layout-xl-height-2-5 {
    height: 40%;
  }
  .layout-xl-height-3-8 {
    height: 37.5%;
  }
  .layout-xl-height-1-3,
  .layout-xl-height-2-6 {
    height: 33.3%;
  }
  .layout-xl-height-1-4,
  .layout-xl-height-2-8 {
    height: 25%;
  }
  .layout-xl-height-1-5 {
    height: 20%;
  }
  .layout-xl-height-1-6 {
    height: 16.5%;
  }
  .layout-xl-height-1-8 {
    height: 12.5%;
  }
  .layout-xl-justify-start {
    justify-content: flex-start;
  }
  .layout-xl-justify-end {
    justify-content: flex-end;
  }
  .layout-xl-justify-center {
    justify-content: center;
  }
  .layout-xl-justify-between {
    justify-content: space-between;
  }
  .layout-xl-justify-around {
    justify-content: space-around;
  }
  .layout-xl-align-start {
    align-items: flex-start;
  }
  .layout-xl-align-end {
    align-items: flex-end;
  }
  .layout-xl-align-center {
    align-items: center;
  }
  .layout-xl-align-stretch {
    align-items: stretch;
  }
  .layout-xl-align-baseline {
    align-items: baseline;
  }
  .text-xl-align-left {
    text-align: left;
  }
  .text-xl-align-right {
    text-align: right;
  }
  .text-xl-align-center {
    text-align: center;
  }
  .text-xl-align-justify {
    text-align: justify;
  }
  .text-xl-grow-x1 {
    font-size: 1.1em;
  }
  .text-xl-grow-x2 {
    font-size: 1.5em;
  }
  .text-xl-grow-x3 {
    font-size: 2em;
  }
  .text-xl-shrink-x1 {
    font-size: 0.9em;
  }
  .text-xl-shrink-x2 {
    font-size: 0.75em;
  }
  .text-xl-shrink-x3 {
    font-size: 0.5em;
  }
}
