/* PRIMARY COLORS: https://coolors.co/333333-d16014-2176ff-00bfb2-fb3640 */
/* ACCENT COLORS: https://coolors.co/c7c7c7-f2d3be-c2d9ff-b9edea-fdc8ca */
body {
  /* font-family: sans-serif; */
  font-family: 'Nunito', sans-serif;
  font-size: 17px;
  /*background: #eee;*/
}
/* Link and Button styles */
a {
  text-decoration: none;
}
.btn {
/*   border: 1px solid #ddd; */
  border-radius: 3px;
  padding: 0.5em 1em;
  min-width: fit-content;
  font-weight: bold;
  color: inherit;
  display: flex;
  box-sizing: border-box;
  flex: 1;
  flex-direction: row;
  align-items: center;
  margin: 0.1em;
}
.btn:active {
  box-shadow: inset 0 1px 5px rgba(0,0,0,0.4);
}
.btn i {
  padding: 0 0.2em;
}
.btn-small {
  font-weight: normal;
  padding: 0.25em 0.5em;
}
.btn-normal {
  /* border-color: #00BFB2; */
  background: #b9edea;
}
.btn-primary {
  border-color: #2176FF;
  background: #c2d9ff;
}
.btn-cancel {
  border-color: #d16014;
  background: #f2d3be;
}
.btn-disabled {
  border-color: #333333;
  background: #c7c7c7;
}
.btn-bad {
  border-color: #FB3640;
  background: #fdc8ca;
}
input {
  font-size: 0.9em;
  padding: 0.6em;
  border: 0px solid #ddd;
  border-radius: 0.2em;
}
/* Navigation Styles */
nav, footer {
  background-color: #fcfcfc;
  color: #999;
  box-shadow: 0 0 50px rgba(0,0,0,0.3);
}
nav {
  border-bottom: 1px solid #aaa;
}
footer {
  border-top: 1px solid #aaa;
}
#app-title {
  font-family: 'Inconsolata', monospace;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.itemlist > li, .part-listing, .user-listing, .item-listing, .msg {
  /* border-bottom: 1px solid #ddd; */
  border-radius: 3px;
  padding: 0.5em;
  box-shadow: 0px 1px 3px rgba(0,0,0,0.2);
  margin-bottom: 0.4em;
  background-color: rgba(249, 249, 249, 0.8);
  overflow: hidden;
}
.item {
  border-bottom: 1px dashed #ddd;
}
.item:last-child {
  border: none;
}
.itemhead {
  color: #555;
  /* font-weight: bold; */
  font-size: 1.3em;
  /* border-bottom: 1px solid silver; */
  margin-bottom: 0.5em;
}
.itemdetail {
  align-items: baseline;
  margin-bottom: 0.5em;
}
.itemdetail:last-child {
  margin: 0;
}
.label {
  font-size: 0.8em;
  color: rgba(51, 51, 51, 0.5);
  /* width: 35%; */
  /* justify-content: flex-end; */
  /* padding-right: 0.5em; */
}
.data {
  font-size: 1.2em;
}
.stock-control, .part-qrcode {
  margin-top: 0.5em;
}
#qrcode-url {
  font-size: 0.6em;
}
/* Content Styles */
.content {
  overflow: hidden;
  padding-left: 0.5em;
  padding-right: 0.5em;
  box-shadow: 0 0 30px rgba(0,0,0,0.1);
}
.section-hdg {
  font-family: 'Inconsolata', monospace;
  font-weight: bold;
}
.section-hdg-1 {
  font-size: 1.4em;
  padding: 0.8em 0.25em;
}
.section-hdg-2 {
  font-size: 1.2em;
}
.section-hdg-3 {
  font-size: 1em;
}
#login-form {
  font-size: 1.2em;
}
#login-form div {
  padding: 0.2em;
}
/* #login-form input {
  font-size: 0.8em;
  padding: 0.6em;
  border: 1px solid #ddd;
  border-radius: 0.2em;
} */
.messages {
  /* padding: 0.5em; */
}
.msg {
  border: 1px solid silver;
  /* border-radius: 0.5em; */
  padding: 0.5em;
}
.msg-icon {
  padding-right: 0.5em;
}
.part-listing-print {
  margin-left: 1em;
}
.menu-icon {
  margin: 0 0.3em;
}
.usegraph {
  background-color: #fdc8ca;
  height: 1em;
  border-radius: 0.25em;
}
.usedgraph {
  color: white;
  background-color: #FB3640;
  height: 100%;
  border-radius: 0.25em;
  font-size: 0.75em;
}