[{"id":0,"username":"admin","password":"$2a$10$8w976WzV0qVRZrwpCKSVvu9ju.q/eYkY3/fwLwzKvilGUN/1nIeXm"},{"id":1,"username":"travis","password":"$2a$10$8w976WzV0qVRZrwpCKSVvu9ju.q/eYkY3/fwLwzKvilGUN/1nIeXm","email":"travis@dataimpressions.com"},{"id":2,"username":"seth","password":"$2a$10$PObTSHUx4ypd9UjCS7qtJ.YOqBjB9xYcal15tp960JkfVNsPJg.s6","email":"seth@dataimpressions.com"},{"id":3,"username":"rick","email":"rick@dataimpressions.com","password":"$2a$10$8WXftjZ8nO8GTwp26icnSeAroHYYYFJ6fGtF3pLwpnDF5.BOL2DSS"},{"id":4,"username":"mike","email":"michael.simpson@dataimpressions.com","password":"$2a$10$nE1wMXlbgVO4EaQLgF6iLe3a0xyffoVpZDGFAxE84ogmIgDgS4SSC"},{"id":5,"username":"anthony","email":"anthony@dataimpressions.com","password":"$2a$10$I5oGv6wmcgnA1WPBq/bE7eJXdcXHum5GeIcIrPdeHzUXCISSu70Lm"},{"id":6,"username":"tony","email":"tony@dataimpressions.com","password":"$2a$10$9FIfhZtjxVStG9fMZTvqFenNAJwd/oFM53pIV8OGqpxwmfv88Zsjm"}]